.container {
width:700px;
margin:50px auto;}
@media (max-width: 950px) {
/*for a screen < 960px,this CSS will be read */
 .container{
 	width: 700px;}}
@media(max-width: 760px){ 
	/*for a screen < 720px,this CSS will be read */
	.container {
		width: 600px;}}
@media(max-width: 500px){ 
	/*for a screen < 540px,this CSS will be read */
	.container {
		width: 400px;}}
